.box
    max-width 800px
    width 800px
    border 1px solid #cdd2d2
    box-shadow 0 1px #dcdfdf
    background-color #fdfdfd
    margin-top 20px
    padding 0
    font-family Roboto

    .header
        padding 10px
        background-color white
        border-bottom 1px solid #cdd2d2

        h2
            font-size 24px
            font-weight bold
            margin 0

    .body
        padding 10px

